{% extends "base.html" %}

{% block title %}VkViewer{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col">
            <form id="filter_form" name="filter_form">
                <div class="order-filter">
                    <p>Sort by</p>
                    <select>
                          <option value="By likes" selected="selected">By likes</option>
                          <option value="By reposts">By reposts</option>
                          <option value="By comments">By comments</option>
                    </select>
                    <p>Choose date</p>
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            {% block home_content %}
            <ul class="groups">
                {% for group_info in groups_info %}
                <li class="group">
                    <div class="group-info">
                        <a href="id{{group_info.id}}">
                            <img class="img-rounded profile-thumbnail"
                                src="{{ group_info.photo_50 }}">
                        </a>
                        <div class="group-name">
                            <a href="id{{group_info.id}}">
                                {{ group_info.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="../static/date_range.js"></script>
{% endblock %}

