{% extends "base.html" %}

{% block title %}VkViewer{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="order-filter">
                <p>Sort by</p>
                <select id="select_order_filter" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <option value="likes" selected="selected">By likes</option>
                    <option value="reposts">By reposts</option>
                    <option value="comments">By comments</option>
                    <option value="views">By views</option>
                </select>
            </div>
            <div class="date-filter">
                <p>Choose date</p>
                <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span id="date_range"></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="col-8">
            {% block home_content %}
            <ul class="list-group list-group-flush">
                {% for group_info in groups_info %}
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="group-image mx-1">
                            <img class="img-rounded profile-thumbnail"
                            src="{{ group_info.photo_50 }}">
                        </div>
                        <div class="group-name mx-1" style="font-size: 1.4em;">
                            <a class="text-dark" onclick="addURL(this)" href="{{group_info.screen_name}}" id="{{group_info.id}}">
                                {{ group_info.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="../static/date_range.js"></script>
<script type="text/javascript" src="../static/addURL.js"></script>
{% endblock %}

